<div>
    <form [formGroup]="createFrom">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" [placeholder]="arrProduct.name" [value]="arrProduct.name">
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input formControlName="price" type="text" class="form-control" id="price" [placeholder]="arrProduct.price" [value]="arrProduct.price">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input formControlName="stock" type="text" class="form-control" id="stock" aria-describedby="emailHelp" [placeholder]="arrProduct.stock" [value]="arrProduct.stock">
        </div>
        <div class="form-group">
            <label for="reference">Referencia</label>
            <input formControlName="reference" type="text" class="form-control" id="reference" aria-describedby="emailHelp" [placeholder]="arrProduct.reference" [value]="arrProduct.reference">
        </div>
        <div class="form-group">
            <label for="status">Estado</label>
            <input formControlName="status" type="text" class="form-control" id="status" aria-describedby="emailHelp" [placeholder]="arrProduct.status" [value]="arrProduct.status">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input formControlName="category" type="text" class="form-control" id="category" aria-describedby="emailHelp" [placeholder]="arrProduct.category" [value]="arrProduct.category">
        </div>
        <div class="form-group">
            <label for="description">descripcion</label>
            <input formControlName="description" type="text" class="form-control" id="description" aria-describedby="emailHelp" [placeholder]="arrProduct.description" [value]="arrProduct.description">
        </div>
        <!-- <div *ngIf="viewImage">
            <img class="image" [src]="" alt="">
        </div> -->
        <div class="form-group">
            <label for="image">imagen</label>
            <input formControlName="image" type="file" class="form-control" id="image" aria-describedby="emailHelp" placeholder="imagen">
        </div>

        <button type="button" class="btn btn-success" (click)="postLogin()">Editar</button>
    </form>
</div>
