<div class="RegisterUser">
    <div *ngIf="fglDataLoginVendor || fglDataLoginAdmin">
        <button type="button" class="btn btn-success" (click)="openCrear()">Crear Nuevo Producto</button>
    </div>

    <div class="RegisterUser__body">
        <ul class="RegisterUser__list">
            <li *ngFor="let product of arrProduct">
                <div *ngIf="fglDataLoginVendor || fglDataLoginAdmin">
                    <button (click)="openEdit(product.id)" type="button" class="btn btn-secondary">Editar</button>
                </div>
                <div class="listBody">
                    <div class="listBody__namePrice">
                        <span>{{product.name}}</span>
                    </div>
                    <div class="listBody__image">
                        <img src='http://localhost:8000/{{product.image}}' alt="">
                    </div>
                    <div class="listBody__footer">
                        <span class="listBody__footerPrice">Precio: <span > ${{product.price}}</span></span>
                    </div>
                    <div class="listBody__footerButton">
                        <button type="button" class="btn btn-warning" (click)="openView(product.id)"> <fa-icon [icon]="faEye"></fa-icon>Ver detalle</button>
                        <button type="button" class="btn btn-success" (click)="openToSell(product.id)"><fa-icon [icon]="faCartShopping"></fa-icon>Comprar</button>
                    </div>
                    <div class="listBody__footerButton" *ngIf="fglDataLoginVendor || fglDataLoginAdmin">
                        <button type="button" class="btn btn-danger" (click)="openToDelete(product.id)"> <fa-icon [icon]="faTrash"></fa-icon>Borrar</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
